apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
  labels:
    app: my-python-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-python-app
  template:
    metadata:
      labels:
        app: my-python-app
    spec:
      containers:
      - name: my-python-container
        # IMPORTANT: This is the exact image you just pushed to your registry!
        image: registry.digitalocean.com/kelly-app-registry-temp/my-python-app:v1
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: my-app-service
spec:
  selector:
    app: my-python-app
  type: LoadBalancer # Creates an external DigitalOcean Load Balancer
  ports:
    - protocol: TCP
      port: 80 # External port for users to access (http)
      targetPort: 5000 # Internal container port (where Flask runs)